.link 
  color $secondary
  text-align center
  font-weight bold
  &:hover 
    color $tertiary
  
.active 
  extends link
  color $tertiary


.icon
  vertical-align middle
  font-size 28px
  padding 0


.text 
  vertical-align middle

