$primary = #ECEFF1
$secondary = #B0BEC5
$tertiary = #37474F
$accent = #26A69A

$color-red = #aa0b16;
$color-yellow = #dacc00;
$color-green = #259b00;

:global {
  .low-priority {
    background-color $color-green
  }
  .middle-priority {
    background-color $color-yellow
  }
  .high-priority {
    background-color $color-red

  }
}