
$spacer = 1rem
$spacer-x = 1rem
$spacer-y = 1rem

:global {
  .m-0 {margin: 0 !important}
  .m-t-0 {margin-top: 0 !important}
  .m-r-0 {margin-right: 0 !important}
  .m-b-0 {margin-bottom: 0 !important}
  .m-l-0 {margin-left: 0 !important}
  .m-x-0 {margin-left: 0 !important; margin-right: 0 !important}
  .m-y-0 {margin-top: 0 !important; margin-bottom: 0 !important}

  .m-a { margin:        ($spacer * 1) !important; }
  .m-t { margin-top:    ($spacer-y * 1) !important; }
  .m-r { margin-right:  ($spacer-y * 1) !important; }
  .m-b { margin-bottom: ($spacer-y * 1) !important; }
  .m-l { margin-left:   ($spacer-y * 1) !important; }
  .m-x { margin-right:  ($spacer-x * 1) !important; margin-left:   ($spacer-x * 1) !important; }
  .m-y { margin-top:    ($spacer-y * 1) !important; margin-bottom: ($spacer-y * 1) !important; }

  .m-a-lg, .m-a-3 { margin:        ($spacer * 3) !important; }
  .m-t-lg, .m-t-3 { margin-top:    ($spacer-y * 3) !important; }
  .m-r-lg, .m-r-3 { margin-right:  ($spacer-y * 3) !important; }
  .m-b-lg, .m-b-3 { margin-bottom: ($spacer-y * 3) !important; }
  .m-l-lg, .m-l-3 { margin-left:   ($spacer-y * 3) !important; }
  .m-x-lg, .m-x-3 { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
  .m-y-lg, .m-y-3 { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

  .m-a-2 { margin:        ($spacer * 2) !important; }
  .m-t-2 { margin-top:    ($spacer-y * 2) !important; }
  .m-r-2 { margin-right:  ($spacer-y * 2) !important; }
  .m-b-2 { margin-bottom: ($spacer-y * 2) !important; }
  .m-l-2 { margin-left:   ($spacer-y * 2) !important; }
  .m-x-2 { margin-right:  ($spacer-x * 2) !important; margin-left:   ($spacer-x * 2) !important; }
  .m-y-2 { margin-top:    ($spacer-y * 2) !important; margin-bottom: ($spacer-y * 2) !important; }

  .m-a-md { margin:        ($spacer * 1.5) !important; }
  .m-t-md { margin-top:    ($spacer-y * 1.5) !important; }
  .m-r-md { margin-right:  ($spacer-y * 1.5) !important; }
  .m-b-md { margin-bottom: ($spacer-y * 1.5) !important; }
  .m-l-md { margin-left:   ($spacer-y * 1.5) !important; }
  .m-x-md { margin-right:  ($spacer-x * 1.5) !important; margin-left:   ($spacer-x * 1.5) !important; }
  .m-y-md { margin-top:    ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important; }

  .m-a-sm { margin:        ($spacer * 0.5) !important; }
  .m-t-sm { margin-top:    ($spacer-y * 0.5) !important; }
  .m-r-sm { margin-right:  ($spacer-y * 0.5) !important; }
  .m-b-sm { margin-bottom: ($spacer-y * 0.5) !important; }
  .m-l-sm { margin-left:   ($spacer-y * 0.5) !important; }
  .m-x-sm { margin-right:  ($spacer-x * 0.5) !important; margin-left:   ($spacer-x * 0.5) !important; }
  .m-y-sm { margin-top:    ($spacer-y * 0.5) !important; margin-bottom: ($spacer-y * 0.5) !important; }

  .m-a-xs { margin:        ($spacer * 0.25) !important; }
  .m-t-xs { margin-top:    ($spacer-y * 0.25) !important; }
  .m-r-xs { margin-right:  ($spacer-y * 0.25) !important; }
  .m-b-xs { margin-bottom: ($spacer-y * 0.25) !important; }
  .m-l-xs { margin-left:   ($spacer-y * 0.25) !important; }
  .m-x-xs { margin-right:  ($spacer-x * 0.25) !important; margin-left:   ($spacer-x * 0.25) !important; }
  .m-y-xs { margin-top:    ($spacer-y * 0.25) !important; margin-bottom: ($spacer-y * 0.25) !important; }

  .p-0 {padding: 0 !important}
  .p-a { padding:        ($spacer * 1) !important; }
  .p-a-2 { padding:      ($spacer * 2) !important; }
  .p-a-md { padding:     ($spacer * 1.5) !important; }
  .p-a-sm { padding:     ($spacer * 0.5) !important; }
  .p-a-xs { padding:     ($spacer * 0.25) !important; }

  .p-t { padding-top:    ($spacer-y * 1) !important; }
  .p-r { padding-right:  ($spacer-y * 1) !important; }
  .p-b { padding-bottom: ($spacer-y * 1) !important; }
  .p-l { padding-left:   ($spacer-y * 1) !important; }
  .p-x { padding-right:  ($spacer-x * 1) !important; padding-left:   ($spacer-x * 1) !important; }
  .p-y { padding-top:    ($spacer-y * 1) !important; padding-bottom: ($spacer-y * 1) !important; }

  .p-a-lg, .p-a-3 { padding:        ($spacer * 3) !important; }
  .p-t-lg, .p-t-3 { padding-top:    ($spacer-y * 3) !important; }
  .p-r-lg, .p-r-3 { padding-right:  ($spacer-y * 3) !important; }
  .p-b-lg, .p-b-3 { padding-bottom: ($spacer-y * 3) !important; }
  .p-l-lg, .p-l-3 { padding-left:   ($spacer-y * 3) !important; }
  .p-x-lg, .p-x-3 { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
  .p-y-lg, .p-y-3 { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }

  .p-t-2 { padding-top:    ($spacer-y * 2) !important; }
  .p-r-2 { padding-right:  ($spacer-y * 2) !important; }
  .p-b-2 { padding-bottom: ($spacer-y * 2) !important; }
  .p-l-2 { padding-left:   ($spacer-y * 2) !important; }
  .p-x-2 { padding-right:  ($spacer-x * 2) !important; padding-left:   ($spacer-x * 2) !important; }
  .p-y-2 { padding-top:    ($spacer-y * 2) !important; padding-bottom: ($spacer-y * 2) !important; }

  .p-t-0 {padding-top: 0 !important}
  .p-r-0 {padding-right: 0 !important}
  .p-b-0 {padding-bottom: 0 !important}
  .p-l-0 {padding-left: 0 !important}

  .p-t-md { padding-top:    ($spacer-y * 1.5) !important; }
  .p-r-md { padding-right:  ($spacer-y * 1.5) !important; }
  .p-b-md { padding-bottom: ($spacer-y * 1.5) !important; }
  .p-l-md { padding-left:   ($spacer-y * 1.5) !important; }
  .p-x-md { padding-right:  ($spacer-x * 1.5) !important; padding-left:   ($spacer-x * 1.5) !important; }
  .p-y-md { padding-top:    ($spacer-y * 1.5) !important; padding-bottom: ($spacer-y * 1.5) !important; }

  .p-t-sm2 { padding-top:    ($spacer-y * .75) !important; }
  .p-r-sm2 { padding-right:  ($spacer-y * .75) !important; }
  .p-b-sm2 { padding-bottom: ($spacer-y * .75) !important; }
  .p-l-sm2 { padding-left:   ($spacer-y * .75) !important; }
  .p-x-sm2 { padding-right:  ($spacer-x * .75) !important; padding-left:   ($spacer-x * .75) !important; }
  .p-y-sm2 { padding-top:    ($spacer-y * .75) !important; padding-bottom: ($spacer-y * .75) !important; }

  .p-t-sm { padding-top:    ($spacer-y * 0.5) !important; }
  .p-r-sm { padding-right:  ($spacer-y * 0.5) !important; }
  .p-b-sm { padding-bottom: ($spacer-y * 0.5) !important; }
  .p-l-sm { padding-left:   ($spacer-y * 0.5) !important; }
  .p-x-sm { padding-right:  ($spacer-x * 0.5) !important; padding-left:   ($spacer-x * 0.5) !important; }
  .p-y-sm { padding-top:    ($spacer-y * 0.5) !important; padding-bottom: ($spacer-y * 0.5) !important; }

  .p-t-xs { padding-top:    ($spacer-y * 0.25) !important; }
  .p-r-xs { padding-right:  ($spacer-y * 0.25) !important; }
  .p-b-xs { padding-bottom: ($spacer-y * 0.25) !important; }
  .p-l-xs { padding-left:   ($spacer-y * 0.25) !important; }
  .p-x-xs { padding-right:  ($spacer-x * 0.25) !important; padding-left:   ($spacer-x * 0.25) !important; }
  .p-y-xs { padding-top:    ($spacer-y * 0.25) !important; padding-bottom: ($spacer-y * 0.25) !important; }
}